body{
    overflow:hidden;
    min-height: 100vh;
    cursor: crosshair;
}
.bubble{
    position: absolute;
    border-radius: 300px;
    background-color: rgba(255,166,0,0.9);
    opacity: 0;
    animation: anim 8s forwards; 
    filter: hue-rotate(0deg);
    // pour que la bulle reste dans son etat initiale à la fin de l'animation
}
 
 @keyframes anim {
    to{
        top: -250px;
        opacity: 1;
        filter: hue-rotate(720deg);
        left : var(--left);
    }
}
h3{
    font-size: 10rem;
    text-align: center;
    margin-top: 20px;
    color: rgb(128, 128, 128);

}